# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.cursor/
.vscode/*
.venv/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
*.py[cod]
*$py.class
*.so
.Python
docs/*
!docs/adr/
api/scripts/
rag_fintech.egg-info/
**/data/
!beanchmark/data/
repository/s3/*
!repository/s3/*.py
repository/rdb/sql/ddl/*snomed.sql
rag/evaluation/*.csv
tools/*